.inspiration__container{
    display: flex;
    margin-bottom: 120px;
}
.inspiration__content{
    margin-right: 70px;
}
.inspiration__header{
    width: 674px;
    margin-bottom: 50px;
}
.inspiration__text{
    width: 743px;
    margin-bottom: 50px;
}
.inspiration__button{
    border-radius: 20px 20px 20px 0px;
}
.inspiration__img-wrapper{
    width: 833.87px;
    height: 782px;
    background: #CCF0E6;
border-radius: 120px;
}