.mission__container{
    margin-bottom: 120px;
    display: flex;
}
.mission__img{
    margin-right: 142px;

}
.mission__header{
    font-weight: 700;
font-size: 40px;
line-height: 1.5;

width: 487px;
margin-bottom: 50px;

color: #1C2323;
}
.mission__text{
    width: 708px;
}