.project__header{
    text-align: center;
}
.project__text{
    text-align: center;
}
.project__line1{
    width: 135px;
    height: 3px;
    border: 1px solid #58A9A5;
    background-color:#58A9A5;
display: flex;
margin: 0 auto;

margin-top: 51px;
margin-bottom: 15px;

}
.project__line2{
    width: 135px;
    height: 3px;
    border: 1px solid #58A9A5;
    background-color:#58A9A5;
    display: flex;
    margin: 0 auto;
    margin-bottom: 94px;

}