body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1642px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 271px;
  height: 80px;
  background: #58A9A5;
border-radius: 15px;
color: white;
border: none;

font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 1.52;
&:hover,&:focus{
  color: 
  #486958;
}
}
.main-header{
  font-weight: 800;
font-size: 70px;
line-height: 105px;
color: #1C2323;
}
.paragraph{
  font-weight: 400;
font-size: 30px;
line-height: 1.5;

color: #404242;
}
/* Утилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
img {
  display: block;
}